<ion-header>
  <ion-navbar color="mainbar">
    <ion-title>Login Portal</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
               <ion-icon name="close"></ion-icon>
             </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<!-- style="max-width:50%;" -->
<ion-content padding style="background-color: #eee;">

  <div *ngIf="isuport">
    <div style="text-align: center;">
      <img [src]="_DomSanitizer.bypassSecurityTrustUrl(qr)">
      <p>{{account}}</p>
    </div>
  </div>

  <div *ngIf="isprovider">

    <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
      <ion-row>
        <ion-col>
          <ion-list inset style="margin: 0px;">
            <ion-item>
      <ion-input type="text" [(ngModel)]="creds.username" placeholder="Username" name="username"  required></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" [(ngModel)]="creds.password" placeholder="Password" name="password"  required></ion-input>
    </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div *ngIf="error" class="alert alert-danger">{{error}}</div>
          <br>
          <button ion-button class="submit-btn" full type="submit" [disabled]="!loginForm.form.valid" color="redside">Login<ion-spinner name="bubbles" *ngIf="isSpinner"></ion-spinner>
        </button>
        </ion-col>
      </ion-row>
    </form>

  </div>

  <div *ngIf="unselected">
    <div>
      <button ion-button full (click)="uportAction()" color="uport" style="height:50px;"><img src="assets/uport.png" style="max-width:80px;"></button>
      <br>
      <button ion-button full color="redside" (click)="provider()">GOV Providers / Aid Services</button>
      <!--<br>
      <button ion-button full color="dark" (click)="test()">Demo</button>-->
    </div>
  </div>

</ion-content>
