<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="redside">
      <ion-title>PSH</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <div *ngIf="!authServiceProvider.isLogin">
        <ion-list>
          <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
            <ion-icon item-left name={{p.icon}}></ion-icon> {{p.title}}
          </button>
        </ion-list>
      </div>
      <div *ngIf="authServiceProvider.isLogin">
        <ion-list>
        <button menuClose ion-item *ngFor="let p of authpages" (click)="openPage(p)">
          <ion-icon item-left name={{p.icon}}></ion-icon> {{p.title}}
        </button>
        <button menuClose ion-item class="submit-btn" type="submit" color="menutheme" (click)="logoff()">
          <ion-icon item-left name="log-out"></ion-icon>Logoff
        </button>
        </ion-list>
      </div>
  </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
