<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="redside">
      <ion-title>Harbor</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content style="background: #eee;">
    <div *ngIf="!authServiceProvider.isLogin">
      <ion-list>
        <button ion-item menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon name="{{p.icon}}" item-start color="navbar"></ion-icon>
          <ion-label>{{p.title}}</ion-label>
        </button>
        <button ion-item menuClose ion-item (click)="login()">
          <ion-icon name="log-in" item-start color="navbar"></ion-icon>
          <ion-label>Login</ion-label>
        </button>
        <button ion-item menuClose ion-item (click)="register(p)">
          <ion-icon name="person" item-start color="navbar"></ion-icon>
          <ion-label>Register</ion-label>
        </button>
        <button ion-item menuClose ion-item (click)="about()">
          <ion-icon name="information-circle" item-start color="navbar"></ion-icon>
          <ion-label>About</ion-label>
        </button>
      </ion-list>
    </div>
    <div *ngIf="authServiceProvider.isLogin">

      <ion-list *ngIf="authServiceProvider.accountType == 'uport'">
        <button ion-item menuClose ion-item *ngFor="let p of uportpages" (click)="openPage(p)">
          <ion-icon name="{{p.icon}}" item-start color="navbar"></ion-icon>
          <ion-label>{{p.title}}</ion-label>
        </button>

        <button ion-item menuClose ion-item class="submit-btn" type="submit" color="menutheme" (click)="logoff()">
          <ion-icon name="log-out" item-start color="navbar"></ion-icon>
          <ion-label>Exit</ion-label>
        </button>
      </ion-list>

      <ion-list *ngIf="authServiceProvider.accountType == 'provider'">
        <button ion-item menuClose ion-item *ngFor="let p of providerpages" (click)="openPage(p)">
          <ion-icon name="{{p.icon}}" item-start color="navbar"></ion-icon>
          <ion-label>{{p.title}}</ion-label>
        </button>

        <button ion-item menuClose ion-item class="submit-btn" type="submit" color="menutheme" (click)="logoff()">
          <ion-icon name="log-out" item-start color="navbar"></ion-icon>
          <ion-label>Exit</ion-label>
        </button>
      </ion-list>
    </div>
  </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
