<ion-header>
  <ion-navbar color="mainbar">
    <ion-title>Add Member</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
               <ion-icon name="close"></ion-icon>
             </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: #eee;">

  <!--<ion-item>
    <div style="display:table-cell; vertical-align:middle; text-align:center">
      <img [src]="famImage" style="border-radius: 25px;" height="50%">
    </div>
  </ion-item>-->

  <ion-item>
    <ion-thumbnail item-start *ngIf="hasImg">
      <img [src]="famImage">
    </ion-thumbnail>
    <ion-label stacked>First Name</ion-label>
    <ion-input type="text" [(ngModel)]="firstName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Last Name</ion-label>
    <ion-input type="text" [(ngModel)]="lastName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Age</ion-label>
    <ion-input type="text" [(ngModel)]="age"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Notes</ion-label>
    <ion-input type="text" [(ngModel)]="notes"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Origin</ion-label>
    <ion-input type="text" [(ngModel)]="location"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label><small>Is this family member missing?</small></ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>


  <ion-item>
    <ion-label><small>Relationship</small></ion-label>
    <ion-select [(ngModel)]="relationship">
      <ion-option value="1">Brother</ion-option>
      <ion-option value="2">Sister</ion-option>
      <ion-option value="3">Parent</ion-option>
      <ion-option value="4">Grandmother</ion-option>
      <ion-option value="5">Grandfather</ion-option>
      <ion-option value="6">First Cousin</ion-option>
      <ion-option value="7">Second Cousin</ion-option>
      <ion-option value="8">Son</ion-option>
      <ion-option value="9">Daughter</ion-option>
      <ion-option value="10">Wife</ion-option>
      <ion-option value="11">Husband</ion-option>
    </ion-select>
  </ion-item>

  <div padding style="background-color:white;">
    <button ion-button full color="mainbar" (click)="cam()">Photo</button>
    <p *ngIf="hasImg">
      Please ensure photo taken is upright. Use the rotation button below to rotate it to the appropriate position.
    </p>
    <button ion-button full color="mainbar" (click)="gorotate()" *ngIf="hasImg">Rotate</button>
    <br>
    <button ion-button full color="dark" (click)="add()">Add</button>
    <!--<button ion-button full color="mainbar" (click)="saveImageTest()">Test Save</button>
    <button ion-button full color="mainbar" (click)="deleteImageTest()">Test Delete</button>-->

  </div>
</ion-content>
