<ion-header>
  <ion-navbar color="mainbar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Find Family</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: #eee;">
  <div padding style="background-color: white;">
    <button ion-button full color="dark" (click)="finduport()">Find uPort</button>
    <button ion-button full color="dark" (click)="findcamera()">Find Camera</button>
  </div>
  <ion-item *ngFor="let item of predictions; let i = index" [attr.data-index]="i">
    <ion-thumbnail *ngIf="item.hasImg" item-start>
      <img *ngIf="item.hasImg" [src]="item.image">
    </ion-thumbnail>
    <h2>{{item.firstName}} {{item.lastName}}</h2>
    <p>Age: {{item.age}} City/Town/Province: {{item.location}}</p>
  </ion-item>
</ion-content>
